<button id="hide_show_button2">
    <img src='images/messenger.png' width="50px" height="50px"></img>
</button>
<div id="chat_panel">
    <fieldset">
        <legend>
            <h3 style="color: rgb(44 36 251);;">Chat tổng</h3>
        </legend>
        <b>
            <p id="chat_name" style="color:green;">
                <%=login_data['MIDLAST_NAME']+ ' ' +login_data['FIRST_NAME'] %>
            </p>
        </b>

        <br>
        <div id="chat_content"></div>

        <input id="chat_message" placeholder="Viết tin nhắn vào đây.">
        <button class="btn-success" id="chat_sendMessage">SEND</button>
        </fieldset>
</div>