<div id="dynamic_tab" class="container">
    <h1>Menu bùng nổ</h1>
    <div id="Button1" class="fas fa-fire"></div>
    <div class="Nav1">
      <a href="#"><span class="menu1 fas fa-home"></span></a>
      <a href="#"><span class="menu1 fas fa-user"></span></a>
      <a href="#"><span class="menu1 fas fa-upload"></span></a>
      <a href="#"><span class="menu1 fas fa-wrench"></span></a>
    </div>
    
    <canvas></canvas>
    
</div>