    <meta charset="UTF-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> 
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/dataTables.bootstrap4.min.css">
    


    <script src="javascripts/jquery.min.js"> </script>
    <script src="javascripts/popper.min.js"> </script>    
    <script src="javascripts/socket.io.js"> </script>
    <script src="javascripts/scriptlogin.js"></script>    
    <script src="javascripts/dataprocess.js"> </script>
    <script src="javascripts/bootstrap.min.js"> </script>
    <script src="javascripts/jquery.dataTables.min.js"> </script> 
    <script src="javascripts/dataTables.bootstrap4.min.js"> </script>      
    <script src="javascripts/tableRender.js"> </script>  
    <script src="javascripts/menu.js"> </script>   

    <title>QC System </title>
    
