<div id="diemdanh" class="container tab-pane fade"><br>
    <div class="container">

        <form id="form_diem_danh" method="post">
            <div class="form-group">
                <label for="team_name"><b>Chọn team để điểm danh</b></label>
                <select class="form-control" id="team_name" name="team_name">
                    <option>Tất cả</option>
                    <option>TEAM 1 + Hành chính</option>
                    <option>TEAM 2+ Hành chính</option>
                    <option>TEAM 1</option>
                    <option>TEAM 2</option>
                    <option>Hành chính</option>
                </select>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="nhom_att_button">Tra cứu team</button>
        <button type="button" id="changeview_empl" class="btn btn-info"> Mở rộng/ Thu hẹp </button>
        <div class="rendered_table" id="empl_list">
            Danh sách nhân lực tại bộ phận
        </div>
    </div>
</div>