<div id="hr_modify" class="container tab-pane fade"><br>
    <h3>Điều chuyển nhân sự qua lại giữa các team</h3>
    <p>Leader mới có thể thực hiện điều chuyển</p>
    <div class="container">
        <button type="button" id="changeview_hr_modify" class="btn btn-info"> Mở rộng/ Thu hẹp </button>
        <div  class= "rendered_table" id="hr_modify_list">
            Danh sách nhân lực tại bộ phận
        </div>
    </div>
</div>