<div id="home" class="container tab-pane active"><br>
    <h3>Đăng ký xin nghỉ</h3>
    <p>Nhập thông tin vào form để đăng ký nghỉ</p>

    <form id="form_dk_nghi" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1"><b>Chọn ca</b></label>
            <select class="form-control" id="ca_nghi" name="ca_nghi">
                <option>Ca ngày</option>
                <option>Ca đêm</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="date"><b>Nghỉ từ ngày <p id="time_1">(08:00)</p></b></label> <br>
            <input type="date" id="nghi_from_date" name="ngaybatdau" />
            <br>
            <label for="date"><b>Nghỉ tới ngày<p id="time_2">(17:00)</p> </b></label> <br>
            <input type="date" id="nghi_to_date" name="ngayketthuc" />
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1"><b>Chọn kiểu nghỉ</b></label>
            <select class="form-control" id="reason" name="reason_name">
                <option>Nghỉ phép</option>
                <option>Nửa phép</option>
                <option>Việc riêng</option>
                <option>Nghỉ ốm</option>
                <option>Chế độ</option>
                <option>Không lý do</option>
            </select>
        </div>
        <div class="form-group">
            <label for="text"><b>Lý do cụ thể:</b></label>
            <input type="text" class="form-control" placeholder="Lý do sự việc nghỉ cụ thể" id="nghi_remark" name="remark_content">
        </div>
        <button type="button" class="btn btn-primary" id="smt_button">Đăng ký</button>
    </form>
</div>