<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
       
        <%- include('../partials/chat') %>
       

        <div id="web-body">
           About Page
        </div>

    </main>

    <footer>
        <div id="footer">
            <%- include('../partials/footer') %>
        </div>
    </footer>

</body>
</html>