<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>CMS ERP</title> 
</head>

<body>
    <div id="wrapper">
        <form id="form-login">
            <h1 class="form-heading">ĐĂNG NHẬP HỆ THỐNG</h1>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input id="login_id" type="text" class="form-input" placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">  
                <i class="fas fa-key"></i>
                <input id="login_pw" type="password" class="form-input" placeholder="Mật khẩu">
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <button class="form-submit" id="login_bt">Đăng nhập</button>
        </form>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="javascripts/login2.js"></script>

</html>