<html>
    <head>        
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">    
        <script src="javascripts/jquery.min.js"> </script>
		<script src="javascripts/socket.io.js"> </script>
		<link rel="stylesheet" href="stylesheets/style2.css">
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css"> 
        <script src="javascripts/bootstrap.min.js"> </script>		
		<script src="javascripts/scriptlogin.js"></script> 
		<title>QC System Login Form</title>
    </head>
    <body>	
        <h1 align="center">Đăng nhập hệ thống</h1>
			<div id="logreg-forms">
			<form method="post">
				USER ID: <input id="login_id" type="text" name="uid" class="form-control" placeholder="Mã ERP CMS" required="" autofocus=""/><br>
				PASSWORD: <input id="login_pw" type="password" name="pw" class="form-control" placeholder="Mật khẩu" required=""/><br>				
			</form>
            <button  id="login_bt" value="Login" class="btn btn-success btn-block"/>Login</button>
		</div>
    </body>
</html>